{% extends "base/home.html" %}

{% block main %}
<h1>REQUEST Peripheral Inspection</h1>
<form method="post" action="{% url 'request-peripheral-inspection' %}" id="kkkk"> {% csrf_token %}


    <div class="form-floating" id="subFormBlock">

    </div>


    <div class="mb-3 mt-3">
        <button type="button" class="btn btn-success btn-sm" id="addAnotherPeripheral">Add Another Peripheral</button>
    </div>

    <div class="mb-3 mt-3">
        <label for="sendingdate">Sending Date:</label>
        <input type="datetime-local" id="sendingdate" name="sendingdate">
    </div>
    <div class="form-floating mb-3 mt-3">
        <textarea class="form-control" rows="5" id="description" name="text" placeholder="description"></textarea>
        <label for="description">Description</label>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}


{% block scripts %}
<script>
        let peripheralList = ['Screen', 'Mouse', 'Keyboard'];
        let optionElementsList = []
        let id = 1;
        let numberOfRows = 1;

        function createOptionElements() {
            peripheralList.forEach(createOptionElement);
        }

        function createOptionElement(value, index, array) {
            let optionElement = document.createElement("option");
            optionElement.innerHTML = `${value}`;
            document.getElementById(`peripheralList${id}`).appendChild(optionElement);
            optionElementsList.push(optionElement);
        }

        function changeIds(removedId) {

            let a = parseInt(removedId) + 1;
            for (let i = a; i < id; i++) {

                let decremented_i = i;
                decremented_i--;
                // rows
                var divRowElement = document.getElementById(`row${i}`);

                // Column 1 (Categories)
                var divPeripheralElement = document.getElementById(`peripheral${i}`);
                let nameAttribute1 = document.createAttribute('name');
                nameAttribute1.value = `peripheral${decremented_i}`;
                divPeripheralElement.setAttributeNode(nameAttribute1);
                // divDeviceCategoryElement.name = `deviceCategory${decremented_i}`;         WRONG

                var selectPeripheralListElement = document.getElementById(`peripheralList${i}`);
                selectPeripheralListElement.name = `peripheralList${decremented_i}`;
                let nameAttribute2 = document.createAttribute('name');
                nameAttribute2.value = `peripheralList${decremented_i}`;
                selectPeripheralListElement.setAttributeNode(nameAttribute2);


                var labelPeripheralList = document.getElementById(`peripheralListLabel${i}`);
                let forAttribute1 = document.createAttribute('for');
                forAttribute1.value = `peripheralList${decremented_i}`;
                labelPeripheralList.setAttributeNode(forAttribute1);
                // labelCategoryList.for = `categoryList${decremented_i}`;                          WRONG

                // // Column 2 (Operating Systems)
                // var divOperatingSystemElement = document.getElementById(`operatingSystem${i}`);
                // let nameAttribute3 = document.createAttribute('name');
                // nameAttribute3.value = `operatingSystem${decremented_i}`;
                // divOperatingSystemElement.setAttributeNode(nameAttribute3);
                // // divOperatingSystemElement.name = `operatingSystem${decremented_i}`;              WRONG

                // var selectOperatingSystemListElement = document.getElementById(`operatingSystemList${i}`);
                // let nameAttribute4 = document.createAttribute('name');
                // nameAttribute4.value = `operatingSystemList${decremented_i}`;
                // selectOperatingSystemListElement.setAttributeNode(nameAttribute4);
                // // selectOperatingSystemListElement.name = `operatingSystemList${decremented_i}`;   WRONG

                // var labelOperatingSystemListElement = document.getElementById(`operatingSystemListLabel${i}`);
                // let forAttribute2 = document.createAttribute('for');
                // forAttribute2.value = `operatingSystemList${decremented_i}`;
                // labelOperatingSystemListElement.setAttributeNode(forAttribute2);
                // // labelOperatingSystemListElement.for = `operatingSystemList${decremented_i}`;     WRONG

                // // Column 3 (Donor)
                // var divDonorElement = document.getElementById(`donor${i}`);



                // var selectDonorListElement = document.getElementById(`donorList${i}`);
                // let nameAttribute5 = document.createAttribute('name');
                // nameAttribute5.value = `donorList${decremented_i}`;
                // selectDonorListElement.setAttributeNode(nameAttribute5);
                // // selectDonorListElement.name = `donorList${decremented_i}`;                        WRONG

                // var labelDonorListElement = document.getElementById(`donorListLabel${i}`);
                // let forAttribute3 = document.createAttribute('for');
                // forAttribute3.value = `donorList${decremented_i}`;
                // labelDonorListElement.setAttributeNode(forAttribute3);
                // // labelDonorListElement.for = `donorList${decremented_i}`;                          WRONG

                // Column 2 (Quantity)
                var inputQuantityElement = document.getElementById(`quantity${i}`);
                let nameAttribute6 = document.createAttribute('name');
                nameAttribute6.value = `quantity${decremented_i}`;
                inputQuantityElement.setAttributeNode(nameAttribute6);
                // inputQuantityElement.name = `quantity${decremented_i}`;                           WRONG

                // Column 3 (Button)
                var buttonRemoveElement = document.getElementById(`button${i}`);

                divRowElement.id = `row${decremented_i}`;

                divPeripheralElement.id = `peripheral${decremented_i}`;

                selectPeripheralListElement.id = `peripheralList${decremented_i}`;

                labelPeripheralList.id = `peripheralListLabel${decremented_i}`;


                inputQuantityElement.id = `quantity${decremented_i}`;
                buttonRemoveElement.id = `button${decremented_i}`;
            }
            id--;
        }

        function removeRow() {
            rowToBeRemoved = document.getElementById(`row${this.id.slice(6)}`);
            let idToBeRemoved = this.id.slice(6);
            // Change ids of everything after id
            rowToBeRemoved.textContent = '';
            rowToBeRemoved.remove();
            changeIds(idToBeRemoved);
        }

        function createRemoveButton() {
            let buttonElement = document.createElement("button");
            buttonElement.className = "btn btn-danger";
            let typeAttribute = document.createAttribute("type");
            typeAttribute.value = "button";
            let idAttribute = document.createAttribute('id');
            idAttribute.value = 'button' + `${id}`;
            buttonElement.setAttributeNode(idAttribute);
            buttonElement.innerHTML = 'Remove';
            buttonElement.onclick = removeRow;
            return buttonElement;
        }

        function createInputElement() {
            let inputElement = document.createElement("input");
            inputElement.className = "form-control";
            let typeAttribute = document.createAttribute("type");
            typeAttribute.value = "number";
            let placeholderAttribute = document.createAttribute("placeholder");
            placeholderAttribute.value = "Number of Peripherals";
            let nameAttribute = document.createAttribute("name");
            nameAttribute.value = "quantity" + `${id}`;
            let minAttribute = document.createAttribute("min");
            minAttribute.value = "1";
            let idAttribute = document.createAttribute('id');
            idAttribute.value = "quantity" + `${id}`;

            inputElement.setAttributeNode(typeAttribute);
            inputElement.setAttributeNode(placeholderAttribute);
            inputElement.setAttributeNode(nameAttribute);
            inputElement.setAttributeNode(minAttribute);
            inputElement.setAttributeNode(idAttribute);

            // document.getElementsByClassName("col")[1].appendChild(inputElement);
            return inputElement;
        }




        function createSelectAndLabelForPeripheral() {
            let selectElement = document.createElement("select");
            selectElement.className = 'form-select';
            let nameAttribute = document.createAttribute("name");
            nameAttribute.value = "peripheralList" + `${id}`;
            let idAttribute = document.createAttribute("id");
            // ID
            idAttribute.value = `peripheralList${id}`;
            selectElement.setAttributeNode(nameAttribute);
            selectElement.setAttributeNode(idAttribute);


            let labelElement = document.createElement("label");
            let forAttribute = document.createAttribute("for");
            let peripheralListLabelId = document.createAttribute('id');
            peripheralListLabelId.value = `peripheralListLabel${id}`;
            forAttribute.value = `peripheralList${id}`;
            labelElement.className = 'form-label';
            labelElement.innerHTML = "Peripheral(s) (select one):";
            labelElement.setAttributeNode(forAttribute);
            labelElement.setAttributeNode(peripheralListLabelId);


            document.getElementById(`peripheral${id}`).appendChild(selectElement);
            document.getElementById(`peripheral${id}`).appendChild(labelElement);
            createOptionElements();

            // call options

        }


        function createCloumnDiv() {
            // Column 1
            let divElement = document.createElement("div");
            divElement.className = "col form-floating";
            var idAttribute = document.createAttribute("id");
            idAttribute.value = "peripheral" + `${id}`;
            // idAttribute.value = "columnA" + `${id}`;
            divElement.setAttributeNode(idAttribute);
            var nameAttribute = document.createAttribute('name');
            nameAttribute.value = "peripheral" + `${id}`;
            divElement.setAttributeNode(nameAttribute);
            document.getElementById(`row${id}`).appendChild(divElement);



            // Column 2
            // Quantity
            let divElement2 = document.createElement("div");
            divElement2.className = "col";
            document.getElementById(`row${id}`).appendChild(divElement2);
            let inputElement = createInputElement();
            divElement2.appendChild(inputElement);

            // Column 3
            let divElement3 = document.createElement("div");
            divElement3.className = "col";
            removeButtonElement = createRemoveButton();
            divElement3.appendChild(removeButtonElement);
            document.getElementById(`row${id}`).appendChild(divElement3);
            // alert("Hello World!");
            createSelectAndLabelForPeripheral();
            id = id + 1;
        }

        function createRowDiv() {
            let divElement = document.createElement("div");
            divElement.className = "row";
            let idAttribute = document.createAttribute('id');
            idAttribute.value = 'row' + `${id}`;
            divElement.setAttributeNode(idAttribute);
            document.getElementById('subFormBlock').appendChild(divElement);
            // ids = ids + 1;
            createCloumnDiv();
        }



        function myFunction() {
            createSelectAndLabelForCategories();
        }

        var btn = document.getElementById("addAnotherPeripheral");
        btn.onclick = createRowDiv;

</script>
{% endblock %}