{% extends 'base/manager/home_manager.html' %}

{% load static %}

{% block navbar_title_url %}{% url 'manager' %}{% endblock %}

{% block title %}OWLP - Change Windows Price{% endblock %}

{% block main %}

{% include "base/messages.html" %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Change Windows Price</h1>
</div>

<form method="POST" action="" id ="change-windows-price-form"> {% csrf_token %}
    <div class="mt-4 mb-5">
        {% if windows_price %}
            <h3 class='display-6 d-inline ms-3'>Current Windows Price: <p class="d-inline fw-bold">{{windows_price|floatformat:3}} SAR</p></h3>
        {% else %}
            <h3 class='display-6 d-inline ms-3'>Current Windows Price: No Price</h3>
        {% endif %}
    </div>


    <div class="row mt-5">
        <div class="col-5 pt-5">
            <h3 class='display-6 d-inline ' style="max-width:60%:">New Windows Price: </h3>
        </div>
        <div class="col-2">
            <div class="d-flex flex-column " style="width:60%;">
                <label class="form-label fs-3" for="new-windows-price">Price</label>
                <input type="text" id="new-windows-price" name="new-windows-price" class="form-control">
            </div>
        </div>
        <div class="col-2 pt-5">
            <button type="submit" class="btn btn-warning">Change Price</button>
        </div>
    </div>


</form>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        $("#change-windows-price-form").on( "submit", function( event ) {
            if ($.isNumeric($("#new-windows-price").val() ) != true) {
                alert("Please enter a number");
                event.preventDefault();
                return null
            } else {

            }
        });
    });
</script>
{% endblock %}