{% extends 'base/home.html' %}

{% load static %}

{% block navbar_title_url %}{% url 'manager' %}{% endblock %}

{% block title %}OWLP - Manager{% endblock %}

{% block head %}

{% endblock %}


{% block logged_in_username_name %} {{request.user.username}} {% endblock %}

{% block sidebar_home_page_url %}{% url 'manager' %}{% endblock %}

{% block sidebar_links %}
  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'manager-statistics' %}">
        <svg class="bi">
            <use xlink:href="#"/>
        </svg>
        Statistics
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="{% url 'manager-change-prices' %}">
          <svg class="bi">
              <use xlink:href="#laptop"/>
          </svg>
          Change Prices
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="{% url 'manager-all-added-devices-list' %}">
          <svg class="bi">
              <use xlink:href="#laptop"/>
          </svg>
          All Added Devices List
      </a>
  </li>
{% endblock %}